@import 'utilities.mixins';

.wrapper {
  display: grid;
  grid-column: auto/span 12;
  padding: 4rem 0;
}
blockquote {
  font-size: 3.625rem;
  font-family: var(--serif);
  font-weight: 500;
  margin:0;
  margin-top: 3rem;
  position: relative;
  line-height: 1.4;
  padding-left: 0;
  margin-bottom: 3rem;

  @include small {
    font-size: 2.625rem;
  }
}

blockquote::before{
  font-family: var(-serif);
  font-weight: bold;
  font-size:200px;
  content: "\201C";
  line-height: 0px;
  position: absolute;
  top: -.4rem;
  opacity: .1;
}

blockquote::after{
  font-family: var(-serif);
  font-weight: bold;
  font-size: 300px;
  content: "\201D";
  line-height: 0px;
  position: absolute;
  bottom: -4.4rem;
  right: 0;
  opacity: .1;
}