@import "./styles.scss";

.intro{
  display: block;
  grid-column: auto/span 9;
  padding: 12rem 0;

  @include medium {
    grid-column: auto/span 10;
  }

  @include small {
    grid-column: auto/span 12;
  }
}

div[cover] {
  margin: 0;
  height: 60vh;
  padding-top: 30%;

  @include small {
    display: table-cell;
    vertical-align: bottom;
    height: 100vh;
    padding-bottom: 8rem;
  }
}
div.content p{
  margin-top: 2rem;
}

