/*
* Typography
* ==========
*
*/

h1,
.h1 {
  font-family: var(--serif);
  font-size: 5.25rem;
  font-weight: var(--bold);
  line-height: 1.125; 
  margin-top: 0;
  letter-spacing: -0.96px;

  @include medium {
    font-size: 4.25rem;
  }
  @include small {
    font-size: 3.75rem; 
  }

//  em {
//    font-style: normal;

//    display: inline;

//    transform: none;

//    // box-shadow: inset 0 -0.1em 0 #fff, inset 0 -0.5em 0 var(--backdrop);
//  }
}

h2,
.h2 {
  font-family: var(--serif);
  font-size: 2.625rem;
  line-height: 1.35;
  // font-style: italic;
  font-weight: var(--medium);
  margin-bottom: 0; 
  margin-top: 0;

  @include medium {
    font-size: 2.625rem;
  }
  @include small {
    font-size: 2.25rem; 
  }
}

h3,
.h3 {
  font-family: var(--serif);
  font-size: 2.25rem;
  font-weight: var(--bold);
  line-height: 1.2;
  margin: 2.25rem 0 1.5rem 0;

  @include small {
    font-size: 1.725rem;
    margin: 1.725rem 0 1rem 0;
  }
}

h5,
.h5 {
  font-family: var(--sans-serif);
  font-size: 1rem;
  font-weight: var(--medium);
  line-height: 1.5;

  @include small {
    // font-size: 1.2em;
  }
}

h6 {
  font-size: 1em;
  font-weight: normal;
  font-feature-settings: 'smcp', 'c2sc', 'lnum';
  line-height: 1;

  margin: 1.5em 0 1em;

  letter-spacing: 1px;
  text-transform: uppercase;
}


.sometimeago {
  h1, h2, h3, p, blockquote {
    font-family: var(--serif-sometimeago);
  }
}

.awhileago {
  h1, h2, h3, p, blockquote {
    font-family: var(--serif-awhileago);
  }
}

a {
  text-decoration: none;

  color: inherit;

}

a.external {
  position: relative;

  margin-right: 0.85em;

  &:before {
    line-height: 1;

    position: absolute;
    top: 0;
    right: -0.85em;

    display: block;

    padding-left: 0.8em;

    content: '\2197';
    text-align: right;
  }
}

p {
  font-family: var(--serif);
  font-size: 1.725rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 2rem;

  hyphens: auto;

  color: var(--text-color);

  @include small {
    font-size: 1.5rem;
    margin-bottom: 1em;
  }

  a {
    transition: 0.2s box-shadow cubic-bezier(0.645, 0.045, 0.355, 1);
    text-decoration: none;

    box-shadow: inset 0 -0.4em 0 rgba(20, 21, 28, 0.1);

    &:hover {
      box-shadow: inset 0 -2em 0 rgba(255, 227, 16, 0.8);

    }
  }
}

.small {
  font-size: 1.44rem;
  font-family: var(--sans-serif);
}

.post-number {
  font-family: var(--sans-serif);
  font-size: 3.5rem;
}

ol li {
  font-size: 1.725rem;
  @include small {
    font-size: 1.5rem;
  }
}

ul {
  margin-left: 0;
  list-style: none;
  padding-left: 2.25rem;
  position: relative;
}

ul li {
  margin-bottom: 1.725rem;
}
ul li:before {
  content: '\2014';
  position: absolute;
  left: 0;
  padding-right: 2rem;
  padding-top: 4px;
  font-size: 1.25rem;
  font-weight: var(--bold);
}
ul li p {
  display: inline;
}

span.big {
  font-size: 4rem;
  position: absolute;
    margin-top: -24px;
    padding: 0 8px;
}

mark {
  text-shadow: 
  -3px 0px 3px #ffe31010,
   3px 0px 3px #ffe31010,
   6px 0px 6px #ffe31010,
  -6px 0px 6px #ffe31010 !important;
}

figcaption {
  font-size: 1.125rem;
  margin-top: 8px;
  font-family: var(--sans-serif);
  font-weight: var(--regular);
  opacity: .6;

  @include small {
    font-size: 1rem;
  }
}
