/*
 * Fonts
 * =====
 *
 */

// GT Pressura by Grilli Type
// @font-face {
//   font-family: 'GT-Pressura-Mono';
//   font-weight: normal;
//   font-style: normal;

//   src: url('../assets/fonts/GT-Pressura-Mono-Regular.woff2') format('woff2'),
//     url('../assets/fonts/GT-Pressura-Mono-Regular.woff') format('woff');
// }


// @import url('https://fonts.googleapis.com/css?family=Crimson+Pro:400,700&display=swap');
// html { font-family: 'Crimson Pro', serif; }

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

// Redaction - A typeface inspired by The Redaction by Titus Kaphar and Reginald Dwayne Betts
@font-face {
  font-family: 'Redaction';
  font-weight: bold;
  font-style: bold;

  src: url('../assets/fonts/Redaction-Bold.woff2') format('woff2'),
    url('../assets/fonts/Redaction-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Redaction';
  font-weight: normal;
  font-style: normal;

  src: url('../assets/fonts/Redaction-Regular.woff2') format('woff2'),
    url('../assets/fonts/Redaction-Regular.woff') format('woff');
}
//Redaction20
@font-face {
  font-family: 'Redaction20';
  font-weight: bold;
  font-style: bold;

  src: url('../assets/fonts/Redaction20-Bold.woff2') format('woff2'),
    url('../assets/fonts/Redaction20-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Redaction20';
  font-weight: normal;
  font-style: normal;

  src: url('../assets/fonts/Redaction20-Regular.woff2') format('woff2'),
    url('../assets/fonts/Redaction20-Regular.woff') format('woff');
}
//Redaction35
@font-face {
  font-family: 'Redaction35';
  font-weight: bold;
  font-style: bold;

  src: url('../assets/fonts/Redaction35-Bold.woff2') format('woff2'),
    url('../assets/fonts/Redaction35-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Redaction35';
  font-weight: normal;
  font-style: normal;

  src: url('../assets/fonts/Redaction35-Regular.woff2') format('woff2'),
    url('../assets/fonts/Redaction35-Regular.woff') format('woff');
}
//Redaction50
@font-face {
  font-family: 'Redaction50';
  font-weight: bold;
  font-style: bold;

  src: url('../assets/fonts/Redaction50-Bold.woff2') format('woff2'),
    url('../assets/fonts/Redaction50-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Redaction50';
  font-weight: normal;
  font-style: normal;

  src: url('../assets/fonts/Redaction50-Regular.woff2') format('woff2'),
    url('../assets/fonts/Redaction50-Regular.woff') format('woff');
}
// @font-face {
//   font-family: 'Quincy-CF';
//   font-weight: 800;
//   font-style: italic;

//   src: url('../assets/fonts/Quincy-CF-Bold-Italic.otf') format('opentype'),
// }

// // Quincy CF by Connary Fagen
// @font-face {
//   font-family: 'Quincy-CF';
//   font-weight: 800;
//   font-style: normal;

//   src: url('../assets/fonts/Quincy-CF-Bold.otf') format('opentype'),
//   //   url('/fonts/Dia/Dia-Black.woff') format('woff');
// }

// @font-face {
//   font-family: 'Quincy-CF';
//   font-weight: 500;
//   font-style: italic;

//   src: url('../assets/fonts/Quincy-CF-Medium-Italic.otf') format('opentype'),
//   //   url('/fonts/Dia/Dia-Black.woff') format('woff');
// }

// @font-face {
//   font-family: 'Quincy-CF';
//   font-weight: 500;
//   font-style: normal;

//   src: url('../assets/fonts/Quincy-CF-Medium.otf') format('opentype'),
//   //   url('/fonts/Dia/Dia-Black.woff') format('woff');
// }

// @font-face {
//   font-family: 'Quincy-CF';
//   font-weight: 400;
//   font-style: italic;

//   src: url('../assets/fonts/Quincy-CF-Text-Italic.otf') format('opentype'),
//   //   url('/fonts/Dia/Dia-Black.woff') format('woff');
// }

// @font-face {
//   font-family: 'Quincy-CF';
//   font-weight: 400;
//   font-style: normal;

//   src: url('../assets/fonts/Quincy-CF-Text.otf') format('opentype'),
//   //   url('/fonts/Dia/Dia-Black.woff') format('woff');
// }
