@import 'utilities.mixins';

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
  grid-column: auto/span 12;
  margin: 0;
  padding: 4rem 0;
  @include medium {
    grid-template-columns: 1fr;
    width: 70vw;
  }
  @include small {
    grid-template-columns: 1fr;
    width: 70vw;
    grid-gap: 2rem;
    padding: 3rem 0;
  }
}

.infoWrapper{
  grid-column: auto/span 1;
  h5 {
    margin-bottom: .75rem;
    text-transform: uppercase;
  }
  p {
    font-family: var(--sans-serif) !important;
    font-weight: 400;
    @include small {
      font-size: 1.25rem;
    }
  }
}
