@import "./styles.scss";


.intro {
  padding: 4rem 0;
  grid-column: 1/4;
  grid-column: auto/span 9;

  @include medium {
    grid-column: auto/span 12;
  }

  @include small {
    grid-column: auto/span 12;
  }
}